
  <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
   <div class="col-md-4"></div>
   <div class="col-md-4"></div>
   <div class="col-md-4">
        <%= link_to home_privacy_policy_path,class:"nav-item" do %>
            <i class="fas fa-file-word"></i>Privacy Policy
        <% end %>
  </div>

  </div>
</footer>